<main>
    <section class='jewelry'>
        <div><img src="http://www.queness.com/resources/images/png/apple_web.png" alt="Test image"></div>

        <div><img src="http://www.queness.com/resources/images/png/apple_web.png" alt="Test image"></div>

        <div><img src="http://www.queness.com/resources/images/png/apple_web.png" alt="Test image"></div>

        <div><img src="http://www.queness.com/resources/images/png/apple_web.png" alt="Test image"></div>




    </section>
    <section class='product-area'>

    </section>
</main>>